@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 278, 100%, 57%;
    --primary-hover: 277, 80%, 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40, 100%, 60%;
    --secondary-hover: 40, 80%, 55%;
    --secondary-foreground: 210 40% 98%;
    --accent: 40, 100%, 80%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 278, 100%, 57%;
    --primary-hover: 277, 80%, 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40, 100%, 60%;
    --secondary-hover: 40, 80%, 55%;
    --secondary-foreground: 210 40% 98%;
    --accent: 40, 100%, 80%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply h-screen text-foreground bg-background font-sans;
  }
}
.swiper {
  height: 150px;
}

/* For Webkit browsers (e.g., Chrome, Edge, Safari) */
ul::-webkit-scrollbar {
  width: 5px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.8);
  border-radius: 10px;
}
